{
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose" : true }],
        ["@babel/plugin-transform-runtime", { "helpers": false, "useESModules" : true }],

        ["react-hot-loader/babel"]
    ],
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "loose": true,
            "modules": false,
            "shippedProposals": true
        }],
        ["@babel/preset-flow"],
        ["@babel/preset-react"]
    ],
    "comments": false
}
