{
    "parser" : "babel-eslint",
    "plugins" : [
        "react",
        "react-hooks"
    ],
    "extends" : ["eslint:recommended", "plugin:react/recommended"],
    "env" : {
        "browser" : true,
        "es6" : true,
        "node" : false
    },
    "rules": {
        "react/prop-types" : 0,
        "quotes" : [1, "single", { "allowTemplateLiterals": true }],
        "no-unused-vars": 0,
        "no-undef": 0,
        "no-bitwise" : 2,
        "no-console" : 0,
        "react-hooks/rules-of-hooks" : "error",
        "react-hooks/exhaustive-deps" : "warn"
    },
    "parserOptions": {
        "jsx": true
    },
    "settings" : {
        "react": {
            "version": "16.11"
        }
    }
}
